{%extends "layout.html"%}
{% block content %}
<div class="container center">
    <div class="card mx-auto" style=" margin-top:150px; max-width: 450px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign in</h4>
        <form action="" method="POST">
            {{form.hidden_tag()}}
            <div class="form-row">
                <div class="col form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{form.email(class="form-control form-control-lg")}}
                </div> <!-- form-group end.// -->
            </div><!-- form-row end.// -->
            <div class="form-row">
                <div class="col form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{form.password(class="form-control form-control-lg")}}
                </div> <!-- form-group end.// --> 
            </div> <!-- form-row end.// -->
            
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        
        </form>
        </div> <!-- card-body.// -->
        </div> <!-- card .// -->
</div>

{% endblock content %}